<footer class="footer">
  <div class="container centered">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-8">
      <p class="text-muted">
        CHAIN RULE XYZ collect blockchain news for you ~
      </p>
    </div>
  </div>
</footer>

